.App {
  text-align: center;
}

.articles-page {
  list-style-type: none;
  padding: 0;
}

.article {
  color: #2f4858;
  background-color: #f7f3e3;
  margin: 20px 0;
  border: 1px solid black;
  overflow: scroll;
}

.article-image {
  width: 150px;
  height: 150px;
}

.single-article-page {
  list-style-type: none;
  padding: 0;
}

.single-article {
  color: #2f4858;
  background-color: #f7f3e3;
  margin: 20px 0;
  border: 1px solid black;
}

.single-article-image {
  width: 350px;
  height: 250px;
}

.navbar {
  display: inline-block;
}

.nav-button {
  color: black;
  width: 100px;
  padding: 25px 20px;
  font-weight: bold;
  text-align: center;
  font-size: medium;
}
.navigate {
  background-color: #2f4858;
}
.intro {
  font-weight: bolder;
  font-size: medium;
}
.comments-page {
  list-style-type: none;
  padding: 0;
}
.comment {
  margin: 2rem;
  border: 2px solid black;
}
.users-page {
  list-style-type: none;
  padding: 0;
}

.user-image {
  width: 150px;
  height: 150px;
}

.user {
  margin: 2rem;
  border: 2px solid black;
}

.comment-box {
  font-size: 1.3rem;
  width: 95%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
@media only screen and (min-width: 600px) {
  .articles-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  .article {
    width: 200px;
    height: 400px;
    padding: 30px;
  }

  .article-image {
    width: 200px;
    height: 200px;
  }
  .single-article-image {
    width: 500px;
    height: 350px;
  }

  .users-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  .user {
    width: 200px;
    height: 400px;
    padding: 30px;
  }

  .user-image {
    width: 250px;
    height: 200px;
  }
}

@media only screen and (min-width: 650px) {
  .articles-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  .article {
    height: 20rem;
    width: 15rem;
    padding: 5rem;
  }
  .single-article-image {
    width: 500px;
    height: 350px;
  }
  .users-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  .user {
    height: 20rem;
    width: 15rem;
    padding: 5rem;
  }

  .user-image {
    width: 250px;
    height: 200px;
  }
}
